<div class="modal-content">
    <div class="modal-body">
        {% block body %}{% endblock %}
    </div>
    <div class="modal-footer">
        {% block footer %}{% endblock %}
        <button type="button" class="btn btn-primary" data-dismiss="modal">{{ 'action.close'|trans }}</button>
    </div>
    {% block formScript %}{% endblock %}
</div>