<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        {% include '_asset.html.twig' %}
    </head>
    <body>
        {% include '_navbar.html.twig' %}
        
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="panel panel-default">
                  <div class="panel-body">
                      {% block header %}{% endblock %}
                      {% block body %}{% endblock %}
                  </div>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
        
    </body>
</html>
