<!DOCTYPE html>
<html class="ng-scope" ng-app="myApp">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset={{ _charset }}"/>
        <meta name="robots" content="noindex,nofollow" />
        <title>{% block title %}{% endblock %}</title>
        {% include "::_asset.html.twig" %}
        {% block htmlHeader %}{% endblock %}
    </head>
        
    <body>
        <div id="main-sidebar" data-spy="affix" data-offset-top="0" data-offset-bottom="0">
            {% include '::_sidebar.html.twig'%}
        </div>
        <div id="main-body" class="main-body-default container-fluid">
            <div class="row">
                <div class="col-xs-12 col-s-11 col-md-10 col-lg-10 margin-top-40">
                    <div id="flashBag-container" data-url="{{ path('api_app_flashbag') }}"></div>

                    {% block breadcrumbContainer %}
                        <div class="block">
                            {% block breadcrumb %}{% endblock %}
                        </div>
                    {% endblock %}

                    {% block headerContainer %}
                        <div class="block" id="headerContainer">
                            <div class="row">
                              <div class="col-md-8">{% block header %}{% endblock %}</div>
                              <div class="col-md-4">
                                  {% if twig_show_search is defined and twig_show_search == true %}
                                      {% include "::_search.html.twig" %}
                                  {% endif %}  
                              </div>
                            </div>            
                        </div>
                    {% endblock %}

                    {% block bodyContainer %}
                        <div class="block margin-top-10">
                            <div class="panel panel-default">
                              <div class="panel-body">
                                {% block body %}{% endblock %}
                              </div>
                            </div>        
                        </div>
                    {% endblock %}
                </div>
            </div>            
        </div>
        {% block script %}{% endblock %}    
    </body>
</html>