{% extends "::base_front.html.twig" %}

{% block body %}
    <h3>Welcome to Felix</h3>
    <p>Felix is a simple Symfony project as a sandbox. Please visit the admin page.</p>

    <p>
        User: <span class="text-danger">admin@admin.com</span> <br>
        Password: <span class="text-danger">admin</span>
    </p>    
    {{ link(
        'Dashboard', 
        {
            size: 'lg',
            type: 'primary',
            url: path('admin_app_dashboard'),
            icon: 'icon.dashboard', 
        }) }}       
{% endblock %}